<div id="section-footer" class="bar">
  <span class="copyright">252 EAST FIFTY SEVEN © 2014</span>
  <!-- <a target="_blank" class="privacypolicy" href="#">Legal</a> -->
  <a class="email" href="mailto:info@252e57.com">info@252e57.com</a>
</div>